h1{
    
    color:rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
}

ul {
    height: 50px;
    width: 160px;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fedee9;
    border: 3px solid rgb(0, 0, 0);
}

ul:hover{
    opacity: 1;
}

li a {
    float: left;
    display: block;
    width: 75%;
    height: 500px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    p.solid {border-style: solid;}
}
div.pos {
    position: absolute;
    top: 200px;
    left: 120px;
  }